# Dependencias
OpenIoTZen/Iot-front/node_modules/
OpenIoTZen/Iot-post/node_modules/

# Archivos de entorno
.env
.env.local

# Logs
*.log

# Generacion de tablas y jsons
OpenIoTZen/Iot-post/models/data/*
!OpenIoTZen/Iot-post/models/data/index.js
OpenIoTZen/Iot-post/jsons/*

# Archivos del sistema
.DS_Store
Thumbs.db
